.header {
    padding-top: 30px;
    padding-bottom: 25px;

    &--nojs {
        @media (max-width: $desktop) {
            background-color: $accent;
            color: $white;
        }
    }

    &--close {
        @media (max-width: $desktop) {
            &.header {
                background-color: unset;
                color: inherit;
                height: 126px;
                min-height: unset;
            }

            & .header__burger::before {
                background-color: $black;
                box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
            }

            & .header__form {
                display: none;
            }

            & .header__bottom {
                display: none;
            }

            .header__logo svg {
                fill: $accent;
            }
        }
    }

    @media (max-width: $desktop) {
        background-color: $accent;
        color: $white;
        min-height: 100vh;
    }
}

.header__container {
    position: relative;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
    position: relative;

    &::after {
        @include pseudo();
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $pale;
    }

    @media (max-width: $desktop) {
        flex-wrap: wrap;

        &::after {
            display: none;
        }
    }
}

.header__bottom {
    padding-top: 20px;

    @media (max-width: $desktop) {
        position: absolute;
        top: 160px;
    }
}

.header__burger {
    display: none;

    @media (max-width: $desktop) {
        display: block;
        position: relative;
        border: none;
        padding: 0;
        width: 26px;
        height: 26px;
        background-color: transparent;

        &::before {
            position: absolute;
            content: "";
            width: 26px;
            height: 2px;
            top: 4px;
            left: 50%;
            background-color: $white;
            box-shadow: 0 8px 0 0 $white, 0 16px 0 0 $white;
            transform: translateX(-50%);
        }
    }
}

.header__form {
    position: relative;
    @media (max-width: $desktop) {
        order: 1;
        width: 100%;
        top: 100px;
        position: absolute;
    }
}

.header__form svg {
    margin-right: 5px;

    @media (max-width: $desktop) {
        position: absolute;
        top: 50%;
        left: 10px;
        width: 16px;
        height: 16px;
        transform: translateY(-50%);
    }
}

.header__form input {
    border: none;
    min-height: 40px;
    padding: 5px 10px;

    @media (max-width: $desktop) {
        background-color: rgba($white, 0.15);
        border-radius: 21px;
        width: 100%;
    }
}

.header__form label {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    transition: all 0.3 ease;
    color: $grey;
}

.header__form span {
    @include font(1.4rem, 30px, 500);
    color: $grey;

    @media (max-width: $desktop) {
        display: none;
    }
}

.header__logo svg {
    @media (max-width: $desktop) {
        fill: currentColor;
    }
}

.header__user {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header__login {
    @include font(1.4rem, 30px, 500);
    @include a();
    display: block;
    padding: 5px 8px;

    &--mobile {
        display: none;
        text-align-last: left;

        @media (max-width: $desktop) {
            @include font(1.8rem, 23.4px, 500);
        }
    }

    @media (max-width: $desktop) {
        display: none;

        &--mobile {
            display: block;
        }
    }
}

.header__cart {
    @include font(1.4rem, 30px, 500);
    @include a();
    display: block;
    padding: 5px 8px;
    position: relative;

    & svg {
        fill: $white;
        display: none;
        @media (max-width: $desktop) {
            display: block;
        }
    }

    & span:first-of-type {
        @media (max-width: $desktop) {
            display: none;
        }
    }
}

.header__counter {
    @media (max-width: $desktop) {
        display: none;
        @include pseudo();
        top: -5px;
        right: -8px;
    }
}
