.jewel {
    margin-top: 55px;
}

.jewel__container {
    display: grid;
    grid-template-columns: minmax(400px, 600px) minmax(300px, 400px);
    grid-column-gap: 100px;
}

.jewel__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h2 {
        text-align: left;
        line-height: 100%;
        margin-bottom: 0;
    }

    & p {
        @include font(2.6rem, 100%, 400);
        @include fields();
        text-align: left;
    }
}

.jewel__table {
    border-collapse: collapse;
    width: 100%;
}

.jewel__info {
    position: relative;
    & label {
        color: $grey;
        text-align: left;
        padding: 20px 0;
        margin-right: 30px;
        margin-left: -8px;
    }

    & input {
        visibility: hidden;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
    }

    & #tab-1:checked ~ .jewel__label-1,
    & #tab-2:checked ~ .jewel__label-2 {
        color: $dark;
    }

    & #tab-1:checked ~ .jewel__info-block-1 {
        display: block;
    }

    & #tab-2:checked ~ .jewel__info-block-2 {
        display: table;
    }

    & p {
        @include fields();
        @include font(1.6rem, 160%, 400);
        padding-top: 20px;
        min-height: 147px;
    }
}

.jewel__info-block {
    display: none;
}

.jewel__tr {
    border-bottom: 1px solid $pale;
}

.jewel__td {
    @include font(1.4rem, 130%, 500);
    padding: 15px 0;

    &--right {
        font-weight: 400;
        text-align: right;
    }
}

.jewel__add-link {
    @include font(1.6rem, 130%, 500);
    padding: 28px;
    border: none;
    font-family: $poppins;
    display: block;
    cursor: pointer;
    text-align: center;
    background-color: $accent;
    color: $white;
    text-decoration: none;
}

.jewel__features-list {
    @include ul();
    @include font(1.4rem, 130%, 500);
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    text-transform: capitalize;
    color: $grey;
    gap: 20px;
}

@media (max-width: $desktop) {
    .jewel__container {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
    }
}

@media (max-width: $tablet) {
    .jewel__container {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
    }

    .jewel__description {
        justify-content: flex-start;
        gap: 20px;
    }

    .jewel__features-list {
        text-align: center;
    }
}
