.nav__list {
    @include ul();
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 10px;

    &--mobile {
        display: none;
    }
}

.nav__link {
    @include a();
    padding: 5px 8px;
    display: block;

    &--mobile {
        @include font(1.8rem, 23.4px, 500);
        color: rgba($white, 0.75);
    }
}

@media (max-width: $desktop) {
    .nav__list {
        flex-direction: column;
        align-items: flex-start;

        &--mobile {
            @include ul();
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .nav__link {
        @include font(2.4rem, 36px, 500);
    }
}
