.new {
    margin-bottom: 165px;
}

.new__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.new__page-link {
    margin-bottom: 60px;
}

.new__slider {
    margin-bottom: 22px;
}

.new__inner {
    @include ul();
    display: flex;
    flex-shrink: 1;
}

.new__bullets {
    @include ul();
    display: flex;
    justify-content: center;
    gap: 8px;
}
