.page-link {
    @include a();
    @include font(1.6rem, 130%, 500);
    margin-bottom: 70px;
    position: relative;

    &::after {
        @include pseudo();
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $accent;
    }
}
