.page-link {
    @include a();
    @include font(1.6rem, 130%, 500);
    position: relative;
    text-transform: capitalize;

    &::after {
        @include pseudo();
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $accent;
    }
}
