.section-title {
    @include font(3.4rem, 130%, 700);
    @include fields();
    margin-bottom: 35px;
    font-family: $cormorant;
    text-align: center;
    text-transform: capitalize;

    &--promo {
        @include font(4.5rem, 130%, 700);
        text-transform: uppercase;
        color: $white;
    }

    &--promo-catalog {
        @include font(3.4rem, 130%, 700);
        color: $white;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}
@media (max-width: $tablet) {
    &--promo {
        @include font(3.8rem, 130%, 700);
        text-transform: uppercase;
        color: $white;
    }
}
